.box{
 	background-color: #1E1E23;
	color: #E1E1E7 ;
}

.banner {
  	text-align: center;
	margin: 0;
	background-color: #1E1E23;
	color: #E1E1E7;
}

.banner h1{
	font-size: 6rem;
}

.dropdown{
	color: #E1E1E7
	background-color: #1E1E23;
}